@charset "UTF-8";

:root {
    --cor0: #082b07;
    --cor1: #134611;
    --cor2: #3ea800;
    --cor3: #3DA35D;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor1);
}

header {
    background-image: url("../img/fundo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 2px 1px 0px black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
}

nav a {
    text-align: center;
    margin-right: 5px;
    font-size: 1.3em;
    color: white;
    padding: 5px;
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header > h1 {
    padding-top: 50px;
    font-size: 5em;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.5em;
    font-weight: bolder;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(../img/fundo4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 10px;
}

section {
    height: 400px;
    width: 300px;
    background-color: white;
    margin: 10px;
    padding: 20px 15px 15px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 1px 10px 2px black;
}

section img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    
}

section p {
    text-align: justify;
    margin-top: 15px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
}

